@import url('https://fonts.googleapis.com/css?family=Nosifer|Press+Start+2P|Sigmar+One');

body {
    background: linear-gradient(to right, #e67300 0%, #7db9e8 100%);
    text-align: center;
}

h1 {
  font-size: 80px;
  color: #1a1aff;
  font-family: 'Nosifer', cursive;
  text-shadow: 5px 10px 5px black;
  text-decoration: overline;
}

.board {
    margin: 10px auto 10px auto;
    width: 320px;
    height: 321px;
    background-color: white;
    border: 5px solid #1a1aff;
    border-radius: 10px;
    padding: 0;
    display: inline-block;
    box-shadow: 5px 10px 5px black;
}

.board > div {
    width: 100px;
    height: 100px;
    border: 1px solid lightgrey;
    background-color: black;
    display: inline-block;
    border-radius: 10px;
    padding-top: 2px;
}

:hover.square {
  background-color: #302f2e;
}

.O {
  font-size: 50px;
  color: blue;
  background-image: url(http://rs190.pbsrc.com/albums/z301/daryldsouza/eye_of_sauron.gif~c200);
  background-size: 100px 100px;

}

.X {
  font-size: 50px;
  color: red;
  background-image: url(https://media.giphy.com/media/XlTFR0l6w7gD6/giphy.gif);
  background-size: 100px 100px;
  background-color: white;

}

#reset {
  height: 35px;
  width: 70px;
  background-color: #663300;
  color: white;
  border-radius: 10px;
  font-family: 'Sigmar One', cursive;
  box-shadow: 5px 10px 5px black;
}

.alert {
  height: 40px;
  width: 300px;
  background-color: yellow;
  margin: 10px auto 10px auto;
  border-radius: 20px;
  border: 5px solid #1a1aff;
  text-align: center;
  font-size: 25px;
  color: red;
  font-family: 'Press Start 2P', cursive;
  padding-top: 10px;
  box-shadow: 5px 10px 5px black;
}
footer {
  font-size: 15px;
  color: red;
  padding-top: 10px;
}

.playerO {
  height: 100px;
  width: 100px;
  background-color: black;
  display: inline-block;
  float: left;
  margin-left: 16%;
  margin-top: 8%;
  border-radius: 10px;
  border: 3px solid white;
  text-align: middle;
  vertical-align: middle;
  line-height: 100px;
  font-size: 50px;
  text-shadow: 3px 3px 3px black;
  color: red;
  font-family: 'Press Start 2P', cursive;
  background-image: url(http://rs190.pbsrc.com/albums/z301/daryldsouza/eye_of_sauron.gif~c200);
  background-size: 100px 100px;
  box-shadow: 5px 10px 5px black;
}

.playerX {
  height: 100px;
  width: 100px;
  background-color: black;
  display: inline-block;
  float: right;
  margin-right: 16%;
  margin-top: 8%;
  border-radius: 10px;
  border: 3px solid white;
  text-align: middle;
  vertical-align: middle;
  line-height: 100px;
  font-size: 50px;
  text-shadow: 3px 3px 3px yellow;
  color: red;
  font-family: 'Press Start 2P', cursive;
  background-image: url(https://media.giphy.com/media/XlTFR0l6w7gD6/giphy.gif);
  background-size: 100px 100px;
  box-shadow: 5px 10px 5px black;
}
